<div class="container" , id='home-container'>
  <div class="jumbotron text-right text-white">
    <h1 class="display-4">Alpha blog</h1>
    <p class="lead" id="btn-sign-up">
      <a class="btn btn-secondary btn-lg" href="#" role="button">Sign up</a>
    </p>
  </div>
</div>

